{% extends 'mainapp/base.html' %}
{% block content %}
    <h1 class="faq-title">{{ title }}</h1>
    <div class="faq">
    <details>
        <summary>
            1. Как произвести оплату?
        </summary>
         <p class="faq-answer">
        Оплата проводится непосредственно по адресу, указанному в договоре.
         </p>
    </details>
    <details>
        <summary>
            2. Как устроиться к Вам страховым агентом?
        </summary>
         <p class="faq-answer">
        Пока что нам не нужны новые сотрудники в этой сфере. Следите за доступными вакансиями.
         </p>
    </details>
    <details>
        <summary>
            3. Как заключить договор?
        </summary>
        <p class="faq-answer">
        Чтобы заключить договор, требуется:
        <ol class="faq-steps">
            <li>Авторизироваться/Зарегистрироваться на нашем сайте;</li>
            <li>Перейти на вкладу "Заключить договор";</li>
            <li>Отправить по адресу, который вы внесли в договор и внести свой первый взнос.</li>
        </ol>
        </p>
    </details>
    </div>
{% endblock %}