{% extends 'mainapp/base.html' %}
{% block content %}
   <h1>{{ title }}</h1>
   <dl>
      Мы, Insurance Group, ценим вашу конфиденциальность и стремимся обеспечить безопасность и защиту ваших личных данных.
      В этой политике конфиденциальности мы объясним, какие виды информации мы собираем,
      как мы ее используем и какую защиту мы оказываем вашей информации.
      <dt><h2>1. Сбор и использование информации</h2></dt>
      <dd>
         Мы собираем следующую информацию о вас:
         <ul class="child-nth">
            <li>Мы можем собирать ваше имя, адрес, адрес электронной почты,
               номер телефона и другую информацию, которую вы предоставляете добровольно при
               заполнении форм на нашем сайте или при обращении к нам по телефону или по электронной почте.</li>
            <li>Мы можем собирать информацию о ваших страховых полисах,
               включая данные о покрытии, платежах и истории убытков.</li>
            <li>Мы можем автоматически собирать информацию о вашем взаимодействии с нашим сайтом,
               включая ваш IP-адрес, данные о браузере, информацию о сеансе и другие технические характеристики.</li>
         </ul>
         Мы используем собранную информацию для следующих целей:
         <ul class="child-first">
            <li>Обработка ваших запросов: Мы используем вашу информацию для обработки ваших запросов и предоставления вам
               необходимой информации о наших страховых услугах.</li>
            <li>Улучшение нашего сайта: Мы анализируем собранную информацию, чтобы улучшить функциональность
               и удобство использования нашего сайта.</li>
            <li>Управление вашими страховыми полисами: Мы использовать информацию о ваших страховых полисах для управления
               и обслуживания ваших полисов, включая обработку заявок на покрытие и рассмотрение и выплату убытков.</li>
         </ul>
      </dd>
      <dt><h2>2. Раскрытие информации третьим лицам</h2></dt>
      <dd>
         Мы не раскрываем вашу информацию третьим лицам без вашего согласия, за исключением случаев,
         предусмотренных законом или этой политикой конфиденциальности.
         Мы можем раскрывать информацию третьим лицам в следующих ситуациях:<
         <ul class="child-last">
            <li>Если это необходимо для выполнения вашего запроса или обработки вашего страхового полиса.</li>
            <li>Если это требуется в соответствии с применимым законодательством.</li>
            <li>Если это необходимо для обеспечения безопасности нашего сайта и защиты прав и
               собственности нашей компании.</li>
         </ul>
      </dd>
      <dt><h2>3. Защита информации</h2></dt>
      <dd>
         Мы принимаем все необходимые меры для защиты вашей информации от несанкционированного доступа, использования
         или раскрытия. Мы используем физические, технические и административные меры безопасности
         для обеспечения защиты вашей информации.
      </dd>
      <dt><h2>4. Согласие и изменения</h2></dt>
      <dd>
         Используя наш сайт и предоставляя нам свою информацию, вы соглашаетесь с условиями
         этой политики конфиденциальности. Мы можем время от времени вносить изменения в эту политику.
         Любые изменения будут размещены на этой странице, и вам рекомендуется периодически проверять
         эту политику для получения актуальной информации.
      </dd>
      </dl>
      <hr>
      Если у вас возникнут вопросы или требуется дополнительная информация о нашей политике конфиденциальности,
      пожалуйста, свяжитесь с нами по электронной почте или по телефону.
{% endblock %}